@font-face {
    font-family: "SF Pro Text";
    src: url("./assets/fonts/SFProText-Regular.woff2") format("woff2"), url("./assets/fonts/SFProText-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-blue: #0297d4;
    --dark: #131515;
    --yellow: #ffcd00;

    --font-family: "SF Pro Text", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--dark);
    background-color: #ccc;
}
